<!-- PAGE-HEADER -->
<div class="page-header">
  <h1 class="page-title">Dashboard 01</h1>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
    </ol>
  </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 -->

<!-- ROW-1 END -->
<!-- ROW-1 -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mt-2">
                                <h6 class="">Total Daara</h6>
                                <h2 class="mb-0 number-font">20</h2>
                            </div>
                            <div class="ms-auto">
                                <div class="chart-wrapper mt-1">
                                    <img id="saleschart" src="assets/images/saleschart.png"
                                            class="h-8 w-9" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mt-2">
                                <h6 class="">Total Talibé</h6>
                                <h2 class="mb-0 number-font">500</h2>
                            </div>
                            <div class="ms-auto">
                                <div class="chart-wrapper mt-1">
                                    <img id="leadschart" src="assets/images/leadschart.png"
                                            class="h-8 w-9 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mt-2">
                                <h6 class="">Total Maitre Coranique</h6>
                                <h2 class="mb-0 number-font">70</h2>
                            </div>
                            <div class="ms-auto">
                                <div class="chart-wrapper mt-1">
                                    <img id="profitchart" src="assets/images/profitchart.png"
                                            class="h-8 w-9 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mt-2">
                                <h6 class="">Taux d'inscription</h6>
                                <h2 class="mb-0 number-font">26%</h2>
                            </div>
                            <div class="ms-auto">
                                <div class="chart-wrapper mt-1">
                                    <img id="costchart" src="assets/images/costchart.png"
                                            class="h-8 w-9 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 END -->
<!-- MAP -->

<!-- ROW-4 -->
<div class="row">
    <div class="col-12 col-sm-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Répartition géopgraphique des Daaras au Sénégal</h3>
            </div>
            <div id="map" class="card-body pt-4"  style="height: 300px;"></div>
        </div>
    </div>
</div>

<div class="row">
    <!-- COL-END -->
    <!-- Bar Chart2 -->
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pourcentage de garcon et de fille </h3>
            </div>
            <div class="card-body">
                <div class="chart-container" >
                    <canvas id="chartBar2" class="h-300" ></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Nombre de daara moderne/traditionnel</h3>
            </div>
            <div class="card-body " style="display: flex; margin-left:150px ">
                <div class="chart-container">
                    <canvas id="chartDonut" class="h-300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->

    <!-- COL-END -->
</div>






