<!-- PAGE-HEADER -->
<div class="page-header">
  <h1 class="page-title">Dashboard 01</h1>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
    </ol>
  </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 -->

<!-- ROW-1 END -->
<!-- ROW-1 -->

<div class="row">
    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h6 class=""><span class="text-primary"><i class="fe fe-briefcase mx-2 fs-20 text-primary-shadow"></i></span>Total Daara</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">500</h3>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Modernes</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">150</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Traditionnels</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font2">350</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font3">500</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body text-center">
                <h6 class=""><span class="text-secondary"><i class="fe fe-users mx-2 fs-20 text-secondary-shadow"></i></span>Total Talibés</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">3000</h3>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Garçons</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">2000</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Filles</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">1000</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">3000</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body text-center">
                <h6 class=""><span class="text-info"><i class="fe fe-award mx-2 fs-20 text-info-shadow"></i></span>Total Maitre Coranique</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">100</h3>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Modernes</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">30</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Traditionnels</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">70</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">100</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body text-center">
                <h6 class=""><span class="text-success"><i class="fe fe-pie-chart mx-2 fs-20 text-success-shadow"></i></span>Taux d'abandons</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">10%</h3>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Modernes</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">2%</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Traditionnels</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">8%</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">10%</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- ROW-1 END -->
<!-- MAP -->

<!-- ROW-4 -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Répartition géographique des Daaras au Sénégal</h3>
                <select id="iaFilter" (change)="onIaChange($event)" class="form-select">
                    <option value="">Tous les IA</option>
                    <option *ngFor="let ia of ias" [value]="ia.id">{{ ia.nom }}</option>
                </select>
            </div>
            <div id="map" class="card-body pt-4" style="height: 300px;"></div>
        </div>
    </div>
</div>

<div class="row">
    <!-- COL-END -->
    <!-- Bar Chart2 -->
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pourcentage de garcon et de fille </h3>
            </div>
            <div class="card-body">
                <div class="chart-container" >
                    <canvas id="chartBar2" class="h-300" ></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Nombre de daara moderne/traditionnel</h3>
            </div>
            <div class="card-body" style="display: flex;">
                <div class="chart-container">
                    <canvas id="chartDonut" class="h-300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->

    <!-- COL-END -->
</div>






