<div class="page-header">
    <h1 class="page-title">Dashboard 01</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xl-3">
        <div id="scroll-stickybar" class="w-100">
            <div class="card">
                <div class="list-group list-group-transparent mb-0 mail-inbox pb-3">
                    <div class="mt-4 mx-4 mb-4 text-center">
                        <a routerLink="/admin/compose" class="btn btn-primary btn-lg d-grid">Nouveau</a>
                    </div>
                    <a routerLink="/admin/inbox" class="list-group-item d-flex align-items-center active mx-4">
                        <span class="icons"><i class="ri-mail-line"></i></span> Reception<span class="ms-auto badge bg-secondary bradius">14</span>
                    </a>
                    <a href="javascript:void(0)" class="list-group-item d-flex align-items-center mx-4">
                        <span class="icons"><i class="ri-mail-open-line"></i></span> Brouillons
                    </a>
                    <a href="javascript:void(0)" class="list-group-item d-flex align-items-center mx-4">
                        <span class="icons"><i class="ri-star-line"></i></span> Etoilés <span class="ms-auto badge bg-success bradius">03</span>
                    </a>
                    <a href="javascript:void(0)" class="list-group-item d-flex align-items-center mx-4">
                        <span class="icons"><i class="ri-price-tag-3-line"></i></span> Tags
                    </a>
                    <a href="javascript:void(0)" class="list-group-item d-flex align-items-center mx-4">
                        <span class="icons"><i class="ri-mail-send-line"></i></span> Envoyés
                    </a>
                    <a href="javascript:void(0)" class="list-group-item d-flex align-items-center mx-4">
                        <span class="icons"><i class="ri-delete-bin-line"></i></span> Supprimés
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body p-6">
                <div class="inbox-body">
                    <div class="mail-option">
                        <div class="chk-all">
                            <div class="btn-group">
                                <a data-bs-toggle="dropdown" href="javascript:void(0)" class="btn mini all" aria-expanded="false">
                                    All
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a href="javascript:void(0)"> None</a></li>
                                    <li><a href="javascript:void(0)"> Lu</a></li>
                                    <li><a href="javascript:void(0)"> Non Lu</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn mini tooltips">
                                <i class=" fa fa-refresh"></i>
                            </a>
                        </div>
                        <div class="btn-group hidden-phone">
                            <a data-bs-toggle="dropdown" href="javascript:void(0)" class="btn mini blue" aria-expanded="false">
                                More
                                <i class="fa fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><i class="fa fa-pencil me-2"></i> Marquer comme lu</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-ban me-2"></i> Spam</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-trash-o me-2"></i> Supprimer</a></li>
                            </ul>
                        </div>
                        <ul class="unstyled inbox-pagination">
                            <li><span class="fs-13">1-50 of 234</span></li>

                            <li>
                                <a class="np-btn" href="javascript:void(0)"><i class="fa fa-angle-right pagination-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-inbox table-hover text-nowrap mb-0">
                            <tbody>
                            <tr>
                                <td class="inbox-small-cells">
                                    <label class="custom-control custom-checkbox mb-0 ms-3">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                <td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
                                <td class="view-message dont-show fw-semibold clickable-row" [routerLink]="['/admin/read']">Daara Dunya</td>
                                <td class="view-message clickable-row" [routerLink]="['/admin/read']">Facteurs Frein a notre developpement</td>
                                <td class="view-message text-end fw-semibold clickable-row" [routerLink]="['/admin/read']">01 Avril</td>
                            </tr>
                            <tr class="">
                                <td class="inbox-small-cells">
                                    <label class="custom-control custom-checkbox mb-0 ms-3">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                <td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
                                <td class="view-message dont-show fw-semibold clickable-row" [routerLink]="['/admin/read']">Daara Al-Bayan</td>
                                <td class="view-message clickable-row" [routerLink]="['/admin/read']">Améliorez votre taux de conversion</td>
                                <td class="view-message text-end fw-semibold clickable-row" [routerLink]="['/admin/read']">23 Mai</td>
                            </tr>
                            <tr class="unread">
                                <td class="inbox-small-cells">
                                    <label class="custom-control custom-checkbox mb-0 ms-3">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                <td class="inbox-small-cells"><i class="fa fa-bookmark text-danger"></i></td>
                                <td class="view-message dont-show clickable-row" [routerLink]="['/admin/read']">Daara Al-Hikma</td>
                                <td class="view-message clickable-row" [routerLink]="['/admin/read']">Nouvelle classe ajoutée : Classe d'inscription rapide</td>
                                <td class="view-message text-end clickable-row" [routerLink]="['/admin/read']">09:27</td>
                            </tr>
                            <tr class="">
                                <td class="inbox-small-cells">
                                    <label class="custom-control custom-checkbox mb-0 ms-3">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox4" value="option4">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                <td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
                                <td class="view-message dont-show fw-semibold clickable-row" [routerLink]="['/admin/read']">Daara An-Nour</td>
                                <td class="view-message view-message clickable-row" [routerLink]="['/admin/read']">Demande de réinitialisation de mot de passe</td>
                                <td class="view-message text-end fw-semibold clickable-row" [routerLink]="['/admin/read']">13 Juin</td>
                            </tr>
                            <tr class="">
                                <td class="inbox-small-cells">
                                    <label class="custom-control custom-checkbox mb-0 ms-3">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox5" value="option5">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                <td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
                                <td class="view-message dont-show fw-semibold clickable-row" [routerLink]="['/admin/read']">Daara Assalam</td>
                                <td class="view-message clickable-row" [routerLink]="['/admin/read']">Mot de passe changé avec succès</td>
                                <td class="view-message text-end fw-semibold clickable-row" [routerLink]="['/admin/read']">24 Mars</td>
                            </tr>
                            <tr class="">
                                <td class="inbox-small-cells">
                                    <label class="custom-control custom-checkbox mb-0 ms-3">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox6" value="option6">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                <td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
                                <td class="view-message dont-show fw-semibold clickable-row" [routerLink]="['/admin/read']">Daara Rahma</td>
                                <td class="view-message clickable-row" [routerLink]="['/admin/read']">Nouvelle offre spéciale sur les services du daara</td>
                                <td class="view-message text-end fw-semibold clickable-row" [routerLink]="['/admin/read']">14 Mars</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                </div>
        <ul class="pagination mb-4">
            <li class="page-item page-prev disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
            <li class="page-item page-next">
                <a class="page-link" href="javascript:void(0)">Next</a>
            </li>
        </ul>
    </div>
</div>