<div class="row mt-9">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Enrollement Daara
                </div>
            </div>
            <div class="card-body">
                <form novalidate>
                    <div id="wizard1">
                        <h3>Informations Daara</h3>
                        <section>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="control-group form-group">
                                        <label class="form-label">Nom du daara *</label>
                                        <input type="text" class="form-control required" name="nomDaara"  placeholder="Nom" required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Adresse *</label>
                                        <input type="text" class="form-control required" name="adresseDaara" placeholder="Adresse du daara" required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Coordonness geographique *</label>
                                        <input type="text" class="form-control required" name="coordonneesDaara" placeholder="Renseigner les coordonnees du daara sous le format [latitude,longitude] " required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Date de creation *</label>
                                        <input type="date" class="form-control required" name="dateCreationDaara" placeholder="Date de creation du daara" required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Telephone *</label>
                                        <input type="text" class="form-control required" name="telephoneDaara" placeholder="Telephone du daara" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <label class="form-label">Email </label>
                                        <input type="email" class="form-control" name="emailDaara"  placeholder="Email du daara">
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Description </label>
                                        <input type="text" class="form-control " maxlength="9" name="descriptionDaara"  placeholder="Breve description ou remarques concernant le daara">
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Departement *</label>
                                        <select class="form-control form-select" name="departmentList" id="departementList">

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h3>Responsable</h3>
                        <section>
                            <div class="control-group form-group">
                                <label class="form-label">Responsable du Daara </label>
                                <select class="form-control form-select" name="responsableList" id="responsableList">

                                </select>
                            </div>
                        </section>
                        <h3>Documents</h3>
                        <section>
                            <p>Les documents a soummettre pour la creation d'un daara</p>
                        </section>
                        <h3>Recapitulatif</h3>
                        <section>
                            <p>Recap des saisies</p>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>