<div class="row mt-9">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Enrollement Daara
                </div>
            </div>
            <div class="card-body">
                <form novalidate>
                    <div id="wizard1">
                        <h3>Informations Daara</h3>
                        <section>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="control-group form-group">
                                        <label class="form-label">Nom du daara *</label>
                                        <input type="text" class="form-control required" name="nomDaara"  placeholder="Nom" required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Adresse *</label>
                                        <input type="text" class="form-control required" name="adresseDaara" placeholder="Adresse du daara" required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Coordonness geographique *</label>
                                        <input type="text" class="form-control required" name="coordonneesDaara" placeholder="Renseigner les coordonnees du daara sous le format [latitude,longitude] " required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Date de creation *</label>
                                        <input type="date" class="form-control required" name="dateCreationDaara" placeholder="Date de creation du daara" required>
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Telephone *</label>
                                        <input type="text" class="form-control required" name="telephoneDaara" placeholder="Telephone du daara" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <label class="form-label">Email </label>
                                        <input type="email" class="form-control" name="emailDaara"  placeholder="Email du daara">
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Description </label>
                                        <input type="text" class="form-control " maxlength="9" name="descriptionDaara"  placeholder="Breve description ou remarques concernant le daara">
                                    </div>
                                    <div class="control-group form-group">
                                        <label class="form-label">Departement *</label>
                                        <select class="form-control form-select" name="departmentList" id="departementList">

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h3>Responsable</h3>
                        <section>
                            <div class="control-group form-group">
                                <label class="form-label">Responsable du Daara </label>
                                <select class="form-control form-select" name="responsableList" id="responsableList">

                                </select>
                            </div>
                        </section>
                        <h3>Documents</h3>
                        <section>
                            <div class="row">
                                <!-- Première partie : Documents obligatoires -->
                                <div class="col-md-6">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h3 class="h6 fw-bold">Documents obligatoires</h3>
                                        </div>
                                        <div class="card-body" id="docObligatoire">

                                            <!-- Ajoutez d'autres champs de fichiers obligatoires ici -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Deuxième partie : Documents facultatifs -->
                                <div class="col-md-6">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h3 class="h6 fw-bold">Documents facultatifs</h3>
                                        </div>
                                        <div class="card-body" id="docFacultatis">
                                            <!-- Ajoutez d'autres champs de fichiers facultatifs ici -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h3>Recapitulatif</h3>
                        <section>
                            <div id="recapSection" class="row">
                                <div class="col">
                                    <div class="recap-container">
                                        <h5 class="fw-bold" >Informations Daara</h5>
                                        <p id="recapNom"></p>
                                        <p id="recapAdresse"></p>
                                        <p id="recapEmail"></p>
                                        <p id="recapDescription"></p>
                                        <p id="recapCoordonnees"></p>
                                        <p id="recapDepartement"></p>
                                        <p id="recapDateCreation"></p>
                                        <p id="recapTelephone"></p>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="recap-container">

                                        <h5 class="fw-bold" >Informations Responsable</h5>
                                        <p id="recapPrenomResponsable"></p>
                                        <p id="recapNomResponsable"></p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="recap-container">
                                        <h5 class="fw-bold" >Documents</h5>
                                        <div id="recapDocuments"></div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>