<div class="card mt-9">
    <div class="card-header">
        <h3 class="card-title">Liste des Utilisateurs</h3>
    </div>
    <div class="card-body">
        <button id="bEdit" class="btn btn-sm btn-primary m-2 float-end" [routerLink]="['/admin/add-user']">
            <span class="fe fe-plus"> </span>
        </button>
        <div class="table-responsive">
            <table class="table table-bordered border text-nowrap mb-0" id="basic-edit">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Profil</th>
                        <th name="bstable-actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ user.nomUser }}</td>
                        <td>{{ user.prenomUser }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.telephoneUser }}</td>
                        <td>{{ user.nomProfil}}</td>
                        <td>
                            <button id="bEdit" class="btn btn-sm btn-primary m-2" [routerLink]="['/admin/edit-user', user.id]">
                                <span class="fe fe-edit"> </span>
                            </button>
                            <button id="bDel" (click)="deleteDataUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                <span class="fe fe-trash-2"> </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>